%iconContainer {
  display: flex;
  align-items: center;
}

%iconSize {
  width: 18px;
  height: 18px;
}

.leftIcon {
  @extend %iconContainer;
  svg {
    @extend %iconSize;
    fill: #fff;
  }
}

.leftIconDisabled {
  @extend %iconContainer;
  svg {
    @extend %iconSize;
    fill: #333;
  }
}

.rightIcon {
  @extend %iconContainer;
  svg {
    @extend %iconSize;
    fill: #fff;
  }
}

.rightIconDisabled {
  @extend %iconContainer;
  svg {
    @extend %iconSize;
    fill: #333;
  }
}
